
div.recentWork {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-left: 4rem */
    /* height: 80px; */
    /* position: static; */
    /* align-self: stretch; */
    /* margin-bottom: -50px; */
  }
  .recentWorkH4-1 {
    font-family: "manrope", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #869ae1;
  }
  .recentWorkH4-2 {
    font-family: "manrope", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2e2b4a;
  }
  /* reference ease hover: https://stackoverflow.com/questions/41267357/css-ease-in-and-out-on-hover */
  .recentWorkH4-2:hover {
    font-size: 18px;
    transition: all 1s ease;
  }
  
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
    /* margin: 20px; */
   margin-bottom: 15px;
  }
  #projects a {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /* width: 335px; */
    height: 257px;
    flex: none;
    align-self: stretch;
  }
  
  .card-top {
    width: 335px;
    height: 148px;
    background-color: #1a1131;
    border-radius: 20px 20px 0px 0px;
    flex: none;
  }
  .card-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    width: 335px;
    height: 109px;
  
    background-color: #2e2b4a;
    border-radius: 0px 0px 20px 20px;
  }
  .card-bottom h1 {
    font-family: "manrope", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #b2c3ff;
    width: 103px;
    margin: 20px 0px 0px 20px;
  }
  .card-bottom p {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #869ae1;
    width: 295px;
    margin: 4px 0px 20px 20px;
  }
  