footer {
  background-color: #b2c3ff;
}
footer h1 {
  font-size: 22px;
  font-family: "manrope", sans-serif;
  font-weight: 700;
  color: #150e27;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 42px; */
  width: 100vw;
  height: auto;
  margin-bottom: -10px;
}
footer h3 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #150e27;
}
.footer-links a:hover {
  height: 40px;
  width: 195px;
}
.footer-links a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 188px;
  height: 36px;
  border-radius: 50px;
  text-decoration: none;
  margin: 10px 20px;
}
.email-me {
  color: #150e27;
  background-color: #150e2733;
  font-size: 20px;
}

.download-resume {
  color: #cfff69;
  background-color: #150e27;
  gap: 8px;
  /* align-items: baseline; */
}

.footer-links h4 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
}
.email-me h4 {
  font-weight: 700;
}
footer h4 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.1em;
}
